@keyframes show__background {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: unset;
  height: 100vh;
  width: 100vw;
  background-color: $c-dark;
}

.show-background .page-content > .background {
  opacity: 1;
  animation: show__background ease-in 0.8s forwards;
  z-index: 2;
}

.active ~ .background {
  opacity: 0;
  height: 0;
  z-index: 2;
}
