@keyframes show__intro__message {
  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.intro__message {
  opacity: 0;
  animation: show__intro__message linear 1s 0.5s forwards;
}
