.page-header__logo {
  transform: translateX(-45px);
  opacity: 0;
  transition: all 0.8s $customTimingFunction 0.2s;
}

.page-ready .page-header__logo {
  transform: none;
  opacity: 1;
}


.page-header__toggler {
  opacity: 0;
  transform: translate(50%, -50%);
  transition: all 0.8s $customTimingFunction 0.2s;
}

.page-ready .page-header__toggler {
  transform: none;
  opacity: 1;
}


.page-header__nav {
  opacity: 0;
  transition: all 0.8s $customTimingFunction 0.2s;

  @media (max-width: $tablet) and (orientation: portrait) {
    transform: translateX(-100%);
    opacity: 1;
    transition: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    transform: translateX(-100%);
    opacity: 1;
    transition: none;
  }
}

.page-ready .page-header__nav {
  transform: none;
  opacity: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    transform: translateX(-100%);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    transform: translateX(-100%);
  }
}

.page-header__menu a {
  &::after {
    transition: width $defaultDuration $defaultTimingFunction;
  }
}
