@keyframes move__social-block__link {
  0% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

.social-block {
  &:hover {
    .social-block__list {
      @for $i from 1 through 3 {
        li:nth-child(#{$i}) {
          .social-block__link {
            transition-delay: calc(#{$i} * 0.1s);
            animation-delay: calc(#{$i} * 0.1s);
          }
        }
      }
    }
  }
}

.social-block__toggler {
  transition: all $defaultDuration $defaultTimingFunction;

  &::before {
    transition: all $defaultDuration $defaultTimingFunction;
  }

  &:hover,
  .social-block--active & {
    &::before {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  &:hover,
  &:focus {
    & + .social-block__list {
      .social-block__link {
        opacity: 1;
        animation: move__social-block__link linear $defaultDuration forwards;
      }
    }
  }
}

.social-block__link {
  transition: all $defaultDuration $defaultTimingFunction;
  background-color: transparent;
  opacity: 0;
}
